<header>
    <div id="topBar">
        <a href="inicial">Home</a><br>
        <a href="equipe">Equipe</a><br>
        <a id="CadastroButton" href="Cadastrar">Cadastrar-se</a><br>
        <a id="LoginButton" href="Login">Entrar</a><br>
        
    </div>
</header>

<body id="equipeBody">
    
    <!-- ************************ comeco secao 1 ************************ -->
    <div class="pai">
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Sergio de Alencar</h2>
        </div> 
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Robert Pogue</h2>
        </div> 

    </div>
    <!-- ************************ fim da secao 1 ************************ -->
    <br>
    <hr>
    <br>
    <!-- ************************ comeco secao 2 ************************ -->
    <div class="pai">
        <div class="f2">
            <h2 class="featurette-heading">Bianca Simonasse <span class="text-muted">Mestranda.</span></h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.

                    </p>
        </div>
        <div id="f1">
            <img src="celula2.png" alt="" width="500" height="500">
        </div> 
        

    </div>
    <!-- ************************ fim da secao 2 ************************ -->
        <br>
        <hr>
        <br>
    <!-- ************************ comeco secao 3 ************************ -->
    <div class="pai">
        <div id="f1">
            <img src="celula2.png" alt="" width="500" height="500">
        </div> 
        <div class="f2">
            <h2 class="featurette-heading">Erika Mota Herenio 
                <span class="text-muted">Mestranda.</span>
            </h2>
            <p class="lead">Informacoes gerais sobre a determinada pessoa.</p>
        </div>
    </div>
    <!-- ************************ fim da secao 3 ************************ -->
    <br>
    <hr>
    <br>
    <!-- ************************ comeco secao 4 ************************ -->
    <div class="pai">
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Ryann Vasconcelos</h2>
        </div> 
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Gabriel Matias</h2>
        </div> 
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Vinicius Dias</h2>
        </div> 
        <div class="integrante">
            <img id="integranteImg" src="celula.png" alt="" width="160" height="160">
            <h2 class="featurette-heading">Guilherme Pascini</h2>
        </div> 

    </div>
    <!-- ************************ fim da secao 4 ************************ -->



</body>