<header >
    <div class="topBar">
        
        <a href="inicial">Home</a><br>
        <a href="equipe">Equipe</a><br>
        <a href="addCelulas">AddCelula</a><br>
        <a href="mostrarCelulas">CelulasList</a><br>
        <a href="sair">Sair</a><br>

    </div>
</header>


<body id="main">
    <div class="tituloCelulas">
        <h1>Nome</h1>
        <h1>Tipo</h1>
        <h1>Data da Coleta</h1>
    </div>
        {{#each data}}
                {{#each this}}
                <div class="mostrarCelula">
                    <h3>{{name}}</h3>
                    <h3>{{tipo}}</h3>
                    <h3>{{dataColeta}}</h3>
                </div>   
                {{/each}}
        {{/each}}  
</body>