<header >
    <div class="topBar">
        
        <a href="inicial">Home</a><br>
        <a href="equipe">Equipe</a><br>
        <a href="addCelulas">AddCelula</a><br>
        <a href="mostrarCelulas">CelulasList</a><br>
        <a href="sair">Sair</a><br>

    </div>
</header>


<body id="main">
         <ul>
            <li>Nome</li>
            <li>Tipo</li>
            <li>Data da Coleta</li>
         </ul>
        <br>
     {{#each data}}
        {{#each this}}
        <tr>
            <td>{{name}}</td>
            <td>{{tipo}}</td>
            <td>{{dataColeta}}</td>
        </tr>
        
        {{/each}}
    {{/each}}

    
</body>