<header >
    <div class="topBar">
        
        <a href="inicial">Home</a><br>
        <a href="equipe">Equipe</a><br>
        <a id="CadastroButton" href="Cadastrar">Cadastrar-se</a><br>
        <a id="LoginButton" href="Login">Entrar</a><br>
        
    </div>
</header>

<body id="main">
    <div >
<img src="Foto01.jpg" class="imgInit" alt="imagem inicial">
</div>
</body>


