<header>
    <div id="topBar">
        <a href="inicial">Home</a><br>
        <a id="CadastroButton" href="Cadastrar">Cadastrar-se</a><br>
        <a id="LoginButton" href="Login">Entrar</a><br>
        
    </div>
</header>


