 <div id="topBar">
        <a href="Cadastrar">Cadastrar</a><br>
        <a href="inicial">Home</a><br>
 </div>
    <form name="form2" action="Login" method="post">
    <input type="email" name="email" id="email" placeholder="Email:"><br>
    <input type="password" name="senha" id="senha" placeholder="Senha:"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Logar"><br>
</form>