 <header >
    <div class="topBar">
            <a href="inicial">Home</a><br>
            <a href="equipe">Equipe</a><br>
            <a id="LoginButton" href="Login">Entrar</a><br>
            <a id="CadastroButton" href="Cadastrar">Cadastrar-se</a><br>
    </div>
 </header>
 

<body id="main">
    <div>
        <h1 style="color: white;
                    padding: 20px; position: absolute;
                    left: 803px;
                    top: 154px;
                    ">
                    Cadastrar
        </h1>
        <form name="form1" action="Cadastrar" method="post">
        <input type="text" name="name" id="name" placeholder="Nome:"><br>
        <input type="email" name="email" id="email" placeholder="Email:"><br>
        <input type="password" name="senha" id="senha" placeholder="Senha:"><br>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Cadastrar"><br>
        </form>
    </div>

        
</body>

