 
<header>
       <div class="topBar">
              <a id="LoginButton" href="Login">Entrar</a><br>
              <a id="CadastroButton" href="Cadastrar">Cadastrar-se</a><br>
              <a href="inicial">Home</a><br>
              <a href="equipe">Equipe</a><br>
       </div>
</header>
 <body id="main">
       <div id="LoginDisclaime">
       <h1 style="color: white;
              padding: 20px; position: absolute;
              left: 803px;
              top: 154px;
              ">
              Login
       </h1>
   <form name="form2" action="Login" method="post">
       <input type="email" name="email" id="email" placeholder="Email:"><br>
       <input type="password" name="senha" id="senha" placeholder="Senha:" autocomplete="on"><br>
       <input type="submit" name="btnSubmit" id="btnSubmit" value="Logar"><br>
   </form>
   </div>



</body>
